.fav-parts{
	font-family: "Noto Sans JP", "Times New Open Sans";
}

.fav-parts.back{
}

/**/
.fav-parts.nametag{
	text-align: center;
	font-size: 32px;
	white-space: nowrap;
}

/* Row */
.fav-parts.row.background{
	background: white;
	border: 1px solid black;
}

.fav-parts.index{}

.fav-parts.index-frame{
	border: 2px solid white;
}

.fav-parts.index-label{
	text-align: center;
	vertical-align: middle;
	font-size: 36px;
	font-weight: bolder;

	background: transparent !important;
}

.fav-parts.label{
}